.bg-primary {
    background-color: #0d3180 !important;
}

.text-primary {
    color: #0d3180 !important;
}

a {
    color: #0d3180;
}

a:hover {
    color: #c9253d;
}

.btn-primary {
    background-color: #0d3180;
    border-color: transparent !important;
}

.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:active,
.btn-primary:hover {
    background-color: #c9253d !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #0d3180;
    border-color: #0d3180;
}

.btn-outline-primary {
    color: #0d3180;
    background-color: transparent;
    background-image: none;
    border-color: #0d3180;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0d3180;
    border-color: #0d3180;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #0d3180;
    background-color: transparent;
}

.btn-outline-primary:not([disabled]):not(.disabled):active,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #0d3180;
    border-color: #0d3180;
}

.btn-link {
    font-weight: 400;
    color: #0d3180;
    background-color: #0d3180;
}

.btn-link:hover {
    color: #c9253d;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    background-color: #0d3180;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #0d3180;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #0d3180;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    background-color: #0d3180;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #0d3180;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d3180;
}

.page-link {
    color: #0d3180;
    background-color: #fff;
    border: 1px solid #ededed;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #0d3180;
    border-color: #0d3180;
}

.page-link:focus,
.page-link:hover {
    color: #c9253d;
}

.badge-primary {
    color: #fff;
    background-color: #0d3180;
}

.progress-bar {
    color: #fff;
    background-color: #0d3180;
}

.list-group-item.active {
    color: #fff;
    background-color: #0d3180;
    border-color: #0d3180;
}

.bg-primary {
    background-color: #0d3180 !important;
}

.border-primary {
    border-color: #0d3180 !important;
}

.text-primary {
    color: #0d3180 !important;
}

.navbar.active {
    background-color: #0d3180;
}

.navbar-bg {
    background-color: #0d3180;
}

.form-control:focus {
    border-color: #0d3180;
}

.main-sidebar .sidebar-menu li.active a {
    background-color: #f9f9f9;
    color: #0d3180;
}

.main-sidebar .sidebar-menu li ul.menu-dropdown li a:hover {
    color: #0d3180;
}

.main-sidebar .sidebar-menu li ul.menu-dropdown li.active a {
    color: #0d3180;
}

.alert.alert-primary {
    background-color: #0d3180;
}

.card.card-primary {
    border-top: 2px solid #0d3180;
}

.fc button.fc-state-active {
    background-color: #0d3180;
    color: #fff;
}

.jqvmap-circle {
    background-color: #0d3180;
    border: 1px solid #000;
}

.weather ul li {
    border: 2px solid #0d3180;
    color: #0d3180;
}

.card-chat .chat-content .chat-item.chat-right .chat-details .chat-text {
    background-color: #0d3180;
    color: #fff;
}

.nav-tabs .nav-item .nav-link {
    color: #0d3180;
}

.nav-pills .nav-item .nav-link {
    color: #0d3180;
}

.swal-button.swal-button--confirm {
    background-color: #0d3180;
}

.page-item .page-link {
    color: #0d3180;
}

.page-item.active .page-link {
    background-color: #0d3180;
    border-color: #0d3180;
}

.btn-group .btn.active {
    background-color: #0d3180;
    color: #fff;
}

.media .media-right {
    color: #0d3180;
}

.selectric-items li.selected,
.selectric-items li.highlighted {
    background-color: #0d3180;
    color: #fff;
}

.dropzone {
    border: 2px dashed #0d3180;
}

.accordion .accordion-header[aria-expanded="true"] {
    background-color: #0d3180;
    color: #fff;
}

.bootstrap-tagsinput .tag {
    background-color: #0d3180;
}